body {
  font-family: arial, sans-serif;
}

h1 {
  color: #dadde1;
  font-size: 40px;
  font-weight: 100;
  line-height: 27px;
  margin: 7 px 0 0 10px;
}

ul {
  margin: 5px 0 20px 0;
  padding: 0;
}

li {
  display: block;
  color: #dadde1;
  list-style: none;
  margin: 0 0 0 10px;
  padding: 0;
  font-size: 17px;
  font-weight: 100;
  line-height: 4;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.weather-app {
  border: 1px solid #d6d6d6;
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 600px;
  background-position: 150%;
}

.heading {
  margin: 0 0 25px 0;
}

.col-2 {
  position: relative;
  margin-left: -15px;
}
.col-4 {
  text-align: center;
}
.icon {
  margin: 5px 0 0 0;
  vertical-align: top;
}

.temperature {
  color: #d6d6d6;
  font-size: 64px;
  font-weight: 400;
}

.units {
  position: relative;
  top: -36px;
}
.weather-cond {
  font-size: 17px;
  height: 20px;
}
.footer {
  margin-top: 20px;
}
.weekdays {
  margin-left: 5px;
  color: #d6d6d6;
  font-size: 16px;
}
.link {
  text-align: center;
  font-size: 13px;
}

.col-6 .active {
  color: #d6d6d6;
  cursor: default;
}

.weather-forecast {
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 15px 5px 15px 30px;
  border-radius: 10px;
}
.forecast-date {
  font-size: 15px;
  color: #d6d6d6;
}
.forecast-temperatures {
  font-size: 13px;
  color: #d6d6d6;
}
.forecast-night {
  opacity: 0.5;
}